In [1]:
import pandas as pd
from urllib.parse import quote
from sqlalchemy import create_engine
import pymysql

from sqlalchemy import Table, MetaData
from sqlalchemy import insert, delete

In [2]:
user = 'root'
password = 'inmo1245!@'
host = 'localhost'
port = '3306'
database = 'flask_test'

In [10]:
engine = create_engine(f'mysql+pymysql://{user}:{quote(password)}@{host}:{port}/{database}', echo=True)

# meta = MetaData()
conn = engine.connect()

2023-03-29 10:37:14,331 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-29 10:37:14,331 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-29 10:37:14,333 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-29 10:37:14,333 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-29 10:37:14,334 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-29 10:37:14,335 INFO sqlalchemy.engine.Engine [raw sql] {}

In [25]:
df = pd.read_csv('song/song_data/song.csv', encoding='cp949', index_col=0)

In [23]:
df = df.head(1000)

   song_id                    title
1    52441                너에게로 또 다시
2    53060             솔아 솔아 푸르른 솔아
3  1017150             그 아픔까지 사랑한거야
4    53018  향기로운 추억 (응답하라 1988 삽입곡)
5  1859404                   잊지 말아요

In [24]:
df.to_sql(index='id',
          name= 'song',
          con = engine,
          if_exists='append',
          method='multi',
          chunksize=10000)

2023-03-29 10:41:15,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 10:41:15,535 INFO sqlalchemy.engine.Engine DESCRIBE `flask_test`.`song`
2023-03-29 10:41:15,536 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-29 10:41:15,538 INFO sqlalchemy.engine.Engine ROLLBACK
2023-03-29 10:41:15,540 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-29 10:41:15,541 INFO sqlalchemy.engine.Engine INSERT INTO song (id, song_id, title) VALUES (%(id_m0)s, %(song_id_m0)s, %(title_m0)s), (%(id_m1)s, %(song_id_m1)s, %(title_m1)s), (%(id_m2)s, %(song_id_m2)s, %(title_m2)s), (%(id_m3)s, %(song_id_m3)s, %(title_m3)s), (%(id_m4)s, %(song_id_m4)s, %(title_m4)s)
2023-03-29 10:41:15,542 INFO sqlalchemy.engine.Engine [no key 0.00074s] {'id_m0': 1, 'song_id_m0': 52441, 'title_m0': '너에게로 또 다시', 'id_m1': 2, 'song_id_m1': 53060, 'title_m1': '솔아 솔아 푸르른 솔아', 'id_m2': 3, 'song_id_m2': 1017150, 'title_m2': '그 아픔까지 사랑한거야', 'id_m3': 4, 'song_id_m3': 53018, 'title_m3': '향기로운 추억 (응답하라 1988 삽입곡)', 'id_m4': 5, 'song_id_m4': 1859404, 'title_m4': '잊지 말아요'}
2023-03-29 10:41:15,545 INFO sqlalchemy.engine.Engine COMMIT

5